<form class="form-horizontal">
  <div class="row main-form">
    <div class="form-group">
      <label for="title" id="lb-title" control-label>Title</label>
      <input type="text" class="form-control" id="title" [(ngModel)]="title" name="title">
    </div>

    <div class="form-group">
      <label for="link" id="lb-link" control-label>Link</label>
      <input type="text" class="form-control" id="link" [(ngModel)]="link" name="link">
    </div>

    <button type="submit" class="btn btn-default" (click)="onSubmit()">Submit</button>
  </div>
</form>